*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('https://wallpaperaccess.com/full/430453.jpg');
    background-size: cover;
}

.heading{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: #0077ff;
    margin-top: 40px;
}

span{
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.imgs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logo_img{
    padding: 16px;
    height: 100px;
}

.time{
    border: none;
    background-color: rgb(2, 0, 39);
    border-radius: 12px;
    opacity: 0.8;
    margin: 50px auto;
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.time_lbls{
    font-size: 30px;
    color: #0077ff;
    opacity: 0.8;
}

.time_badge{
    position: absolute;
    font-size: 100px;
    top: 339px;
    left: 568px;
    font-family: sans-serif;
    color: #0077ff;
    opacity: 0.8;
}
footer{
    background-color: #0077ff;
    height: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    align-items: center;   
    position: relative;
    bottom: -106px;
}
