*{
    margin: 0;
    padding: 0;
}

.nav{
    height: 70px;
    width: 100%;
    background-color: cyan;
}


.nav ul li{
    display: inline-block;
    padding: 20px 20px;
    list-style: none;
    color: white;
    font-family: sans-serif;
}

.nav ul li:hover{
    background-color: rgb(0, 145, 255);
    cursor: pointer;
    font-weight: bold;
}